<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChh5ywmWyFlFUvwJKF_yFFrCOY7UNp9C8</string>
	<key>GCM_SENDER_ID</key>
	<string>811900048551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithjakub.ITodo</string>
	<key>PROJECT_ID</key>
	<string>itodo-2e083</string>
	<key>STORAGE_BUCKET</key>
	<string>itodo-2e083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811900048551:ios:4beda1c4b7b4c63c00f782</string>
</dict>
</plist>